{% extends "base.html" %}

{% block content %}

    <h2> Add Transactions </h2>
    <p> Use the form below to create a transaction between you and someone else. </p>
    <br />
    {% if status %}
    
        <p id="status"> {{status}} </p>
    
    {% endif %}
    
    <form action="" method="Post">
        <fieldset>
            <legend>Add Transaction</legend> 
            <table>
            
                {{ form.as_table }}
            
            </table>
        </fieldset>
        <button type="submit" value="Submit">Submit</button>
        <button type="reset">Reset</button>        
        
    </form>

{% endblock %}